html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #222;
}

.container {
  max-width: 100%;
  width: 1200px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
  background-color: #effafa;
  padding-top: 76px;
  padding-bottom: 120px;
}

/* HEADER  */
.site-header {
  flex-shrink: 0;
  background-color: #5ca5a5;
  height: 156px;
}


/* JOB  */
.job-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.job-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 48px;
  padding-left: 40px;
  padding-bottom: 32px;
  padding-top: 32px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}

.job-item:first-child {
  border-left: 5px solid #5CA5A5;
}

.job-item:nth-child(2) {
  border-left: 5px solid #5CA5A5;
}

.job-item:not(:last-child) {
  margin-bottom: 24px;
}

.item-left {
  display: flex;
  align-items: center;
}

.item-img {
  width: 88px;
  height: 88px;
  object-fit: contain;
  margin-right: 24px;
}

.item-left-inner {
  display: flex;
  flex-direction: column;
}

.item-left-inner-top {
  display: flex;
  align-items: center;
}

.item-left-inner-top span {
  cursor: pointer;
}

.company-name {
  color: #5ca5a5;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.company-name:not(:last-child) {
  margin-right: 16px;
}

.job-status {
  border-radius: 12px;
  background: #5ca5a5;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 4px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.085px;
  text-transform: uppercase;
}

.job-status:not(:last-child) {
  margin-right: 8px;
}

.job-modern {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.085px;
  text-transform: uppercase;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 4px;
  border-radius: 12px;
  background: #2b3939;
}

.job-title {
  margin: 8px 0;
  color: #2b3939;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.item-left-inner-bottom {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.job-info {
  display: flex;
  align-items: center;
  color: #7C8F8F;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.115px;
}

.job-info:not(:last-child) {
  margin-right: 16px;
}

.job-info:not(:last-child)::after {
  margin-left: 16px;
  width: 4px;
  height: 4px;
  background-color: #b7c4c4;
  content: "";
}

.item-right {
  display: flex;
  align-items: center;
}

.job-button {
  border: 0;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  /* rgba(92, 165, 165, 1) */
  background-color: rgba(92, 165, 165, 0.1);
  color: #5ca5a5;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.1px;
}

.job-button:not(:last-child) {
  margin-right: 16px;
}